.account-info {
  max-width: 1100px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 150px;
  margin: 50px auto;
}

.account-info .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.account-info .avatar img {
  width: 250px;
  height: 250px;
  border: solid 2px #b17457;
  border-radius: 50%;
  object-fit: cover;
}

.account-info .avatar p {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.account-info .avatar a {
  background-color: #b17457;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.account-info .avatar a:hover {
  background-color: #ffa600;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

.account-info .info {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.account-info .info h3 {
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.account-info .info form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.account-info .info form input {
  border: solid 2px #dadada;
  border-radius: 5px;
  padding: 10px 20px;
  width: 400px;
}

.account-info .info form input::placeholder {
  color: black;
}

.account-info .info form button {
  background-color: #b17457;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  margin: 10px 0 0 0;
}

.account-info .info form button:hover {
  background-color: #ffa600;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .account-info {
    margin: 80px auto;
    gap: 70px;
    width: 300px;
  }

  .account-info .info h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 430px) {
  .account-info {
    gap: 20px;
  }

  .account-info .avatar img {
    width: 150px;
    height: 150px;
  }
}
